.btn {
  font-family: "NeogroteskEssRegular";
  font-size: 14px;
  text-align: center;
  font-weight: 700;
  background-color: $primary;
  color: white;
  text-transform: uppercase;
  border: none;
  width: 297px;
  height: 48px;
  border-radius: 100px;
  transition: box-shadow 0.3s;
  cursor: pointer;
  &.card {
    background-color: rgba(255, 255, 255, 0.9);
    color: $tertiary;
  }
  &.hero {
    background-color: $tertiary;
    color: white;
    width: 237px;
  }
  &.newsletter {
    background-color: $tertiary;
    color: white;
    width: 120px;
  }
  &.control {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: white;
    font-size: 0;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
    line-height: 0px;
    text-align: center;
    &.next {
      &::before {
        content: url("../assets/svg/next.svg");
      }
    }
    &.prev {
      &::before {
        content: url("../assets/svg/prev.svg");
      }
    }
    &:focus {
      outline: none;
    }
  }
  &:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
}
