.products-carousel {
  @include flex(flex-start, flex-start, row);
  margin: 20px;
  overflow-x: hidden;
  padding-top: 20px;
  scroll-snap-type: x mandatory;
  height: 580px;
  .product {
    position: relative;
    flex: 0 0 auto;
    margin-right: 10px;
    margin-left: 10px;
    scroll-snap-align: start;
    text-align: center;
    max-width: 320px;
    font-family: "FilsonProRegular";
    @include respond-to(sm) {
      max-width: 247px;
    }
    h3 {
      font-weight: 500;
      font-size: 18px;
      line-height: 24px;
      color: $dark;
      margin-top: -10px;
      text-align: left;
      max-width: 95%;
      @include respond-to(sm) {
        margin-bottom: -10px;
      }
    }

    .content-img {
      width: 320px;
      height: auto;
      border-radius: 15px;
      img {
        width: 100%;
        height: 100%;
        display: block;
        border: none;
        border-radius: 15px;
      }
      @include respond-to(sm) {
        width: 247px;
        height: 247px;
      }
    }

    .content-btn {
      @include flex(center, center, row);
      position: relative;
      top: -60px;
    }

    .stars {
      @include flex(center, center, row);
      gap: 5px;

      svg {
        width: 17px;
        height: 16px;
      }
      @include respond-to(sm) {
        margin-bottom: -10px;
      }
    }

    .star-icon {
      width: 20px;
      height: 19px;
    }

    .content-rating {
      @include flex(space-between, center, row);
      padding: 0 10px;

      .price {
        color: $dark;
        font-size: 15px;
        font-weight: 500;
        text-align: right;
        line-height: 27px;
        &.old-price {
          color: $dark-secondary;
          text-decoration: line-through;
        }
      }
      .tags {
        color: $dark-secondary;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        margin-top: 2px;
      }
      @include respond-to(sm) {
        @include flex(flex-start, flex-start, column);
        padding: 0px;
      }
    }

    .discount-badge {
      position: absolute;
      font-family: "NeogroteskEssRegular";
      top: 10px;
      right: 10px;
      background-color: $warning;
      color: $dark;
      padding: 4px 10px;
      border-radius: 100px;
      font-size: 14px;
      font-weight: bold;
      color: $dark;
    }
  }
}
