.footer {
  @include flex(center, center, row);
  position: relative;
  overflow: hidden;
  min-height: 550px;
  width: 100%;
  background: url("../assets/svg/footer.svg");
  background-size: cover;

  .footer-curve {
    display: none;
  }

  .newsletter {
    @include flex(center, center, column);
    z-index: 3;
    .newsletter-title {
      font-family: "Abhaya Libre", serif;
      font-weight: 700;
      line-height: 62px;
      font-size: 44px;
      text-align: center;
      color: $dark;
      margin-bottom: 0;

      .break {
        display: block;
      }

      @include respond-to(sm) {
        font-size: 28px;
        font-weight: 700;
        line-height: 36px;
        text-align: center;
      }
    }

    .newsletter-info {
      font-family: "FilsonProLight", serif;
      color: $dark-secondary;
      text-align: center;
      font-weight: 350;
      font-size: 15px;
      line-height: 27px;

      .break {
        display: block;
      }
    }

    .newsletter-form {
      @include flex(space-between, center, row);
      width: 510px;
      @include respond-to(sm) {
        @include flex(space-between, center, column);
        width: 300px;
        height: 120px;
      }

      .newsletter-input {
        font-family: "FilsonProBold", serif;
        border-radius: 100px;
        border: 1px solid $tertiary;
        width: 360px;
        height: 48px;
        padding-left: 20px;
        font-size: 15px;
        color: $dark;
        outline: none;

        :focus {
          outline: none;
        }

        @include respond-to(sm) {
          width: 300px;
        }
      }
 
    }

    .message {
      font-family: "FilsonProLight", serif;
      font-size: 14px;
      line-height: 18px;
      margin-top: 10px;
      opacity: 0;
      height: 10px;
      &.success {
        color: $success;
        opacity: 1;
      }
      &.error {
        color: $error;
        opacity: 1;
      }
    }

  }

  .tablet-blurred {
    position: absolute;
    top: 55%;
    left: 5%;
  }

  .tablet-green {
    position: absolute;
    top: 20%;
    left: 10%;
  }

  .tablet-rose {
    position: absolute;
    top: 25%;
    left: 20%;
  }

  .tablet-blue {
    position: absolute;
    top: 55%;
    right: 15%;
  }

  .tablet-white {
    position: absolute;
    top: 15%;
    right: 5%;
  }

  .desktop {
    display: block;
  }

  .mobile {
    display: none;
  }

  @include respond-to(sm) {
    .mobile {
      display: block;
    }

    .desktop {
      display: none;
    }

    .tablet-blurred {
      top: 25%;
      left: -10%;
      transform: scale(0.7);
    }

    .tablet-green {
      top: 10%;
      left: 10%;
      transform: scale(0.7);
    }

    .tablet-rose {
      top: 15%;
      left: 35%;
      transform: scale(0.7);
    }

    .tablet-blue {
      top: 48%;
      right: 15%;
      transform: scale(0.7);
    }

    .tablet-white {
      top: 32%;
      right: 5%;
      transform: scale(0.7);
    }
  }
}
