.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: $dark;
  height: 200px;
  .decoration {
    position: relative;
    background-color: $soft-blue;
    width: 70px;
    height: 24px;
    z-index: -1;
    border-radius: 100px;
    top: 120px;
    left: -15px;
  }
  .title-section {
    font-size: 44px;
    line-height: 64px;
    font-weight: 700;
    .planet-friendly {
      display: inline;
    }

    .line-break::after {
      content: "\A";
      white-space: pre;
    }
  }
  .controls {
    display: flex;
    width: 150px;
    justify-content: space-between;
    .control {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 70px;
      height: 24px;
      border-radius: 100px;
      background-color: $primary;
      .btn {
        width: 40px;
        height: 40px;
        border-radius: 100%;
        border: none;
        background-color: white;
        box-shadow: 0px 4px 50px 0px #00000040;
        cursor: pointer;
        .next {
          content: "";
          font-size: 0;
          &::before {
            content: url("../assets/images/next.svg");
          }
        }
        .prev {
          content: "";
          font-size: 0;
          &::before {
            content: url("../assets/images/prev.svg");
          }
        }
      }
    }
  }
}
