.hero-banner {
  @include flex(center, center, column);
  background-color: $primary;
  color: $dark;
  .hero-title {
    font-family: "Abhaya Libre", serif;
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 1px;
    @include respond-to(sm) {
      font-family: "NeogroteskEssRegular", serif;
      font-size: 13px;
      font-weight: 700;
    }
  }
}
