.info-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $primary;
  color: $dark;
  h3 {
    font-family: "Abhaya Libre", serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
  }
}
